@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// ### Primary
$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);
// ### Neutral
$Grey500: hsl(234, 12%, 34%);
$Grey400: hsl(212, 6%, 44%);
$White: hsl(0, 0%, 100%);

*{
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

body {
  background-color: $White;
  padding: 4.5em 1.5em;
}
.container{
  margin: 0 auto;
  max-width: 768px;
}
.intro{
  text-align: center;
  margin-bottom: 4rem;
  &__title{
    font-size: 25px;
    font-weight: 200;
    color: $Grey400;
  }
  &__subtitle{
    font-size: 25px;
    color: $Grey500;    
    margin-bottom: 1em;
    font-weight: 700;
  }
  &__desc{
    color: $Grey400;
  }
}
section{
  text-align: left;
  width: 100%;
  padding: 2em 2em 5.5em;
  box-shadow: 1px 4px 10px rgba(0,0,0,0.15); 
  margin-bottom: 3em;
  border-radius: 5px;
  h2{
    color: $Grey500;
    font-size: 20px;
    margin-bottom: 0.5em;
  }
  p{
    color: $Grey400;
    font-size: 13px;
    margin-bottom: 1.5em;
  }
  img{
    float: right;
  }
}
.supervisor{
  border-top: 4px solid $Cyan;
}
.teambuilder{
border-top: 4px solid $Red;
}
.karma{
border-top: 4px solid $Orange;
}
.calculator{
border-top: 4px solid $Blue;
}

// desktop
@media (min-width:768px){
  .grid-container{
    margin-top: 2em;
    display: grid;
    grid-template-columns: 350px 320px  350px;
    justify-content: center;
    grid-template-rows: 250px 250px;
    column-gap: 2em;
    row-gap: 1.5em;
    align-items: center;
  }
  .supervisor{
    grid-row: 1/3;
    grid-column-start:1 ;
    max-height: 250px;
  }

  .karma{
    grid-column-start: 2;
    grid-row: 2/3;
    max-height: 250px;
  }
  .teambuilder{
    grid-row:1/2;
    grid-column-start: 2;
    max-height: 250px;
  }
  .calculator{
    grid-column-start: 3;
    grid-row:1/3;
    max-height: 250px;
  }
  .container{
    width: 100%;
  }

}